<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<ul>
  <div align="center">
    <img src="{% static 'logo.png' %}" width="220" height="163">
  </div>

  <ul>
      <li><a class="active" href="CurrentRanking">Current Ranking</a></li>
      <li><a href="TeamStatistics">Team Statistics</a></li>
    </ul>
</ul>

<div style="margin-left:220px;padding:1px 16px;height:1000px;">
  <h2>Current Rankings</h2>

  <table style="width:500px">
    <tr>
      <th>Team Name</th>
      <th>WP</th>
      <th>OWP</th>
      <th>OOWP</th>
      <th>RPI</th>
      <th>Bonus</th>
      <th>Penalty</th>
      <th>Adjusted RPI</th>
    </tr>
    {% for team_info in latest_team_list %}
    <tr>
      <td>{{team_info.team_name}}</td>
      <td>{{team_info.wp}}</td>
      <td>{{team_info.owp}}</td>
      <td>{{team_info.oowp}}</td>
      <td>{{team_info.rpi}}</td>
      <td>{{team_info.bonus}}</td>
      <td>{{team_info.penalty}}</td>
      <td>{{team_info.adj_rpi}}</td>
    </tr>
    {% endfor %}
  </table>

</div>

</body>
</html>
