<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #6C0017;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #FFFFFF;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #f1f1f1;
  color: black;
}

/* li a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

table, th, td {
  border: 1px solid black;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: #e9e9e9;
}

</style>
</head>
<body>

<ul>
    <div align="center">
        {% load static %}
        <img src="{% static 'logo-on-red.png' %}" width="195" height="193">
      </div>

  <li><a href="CurrentRanking">Current Ranking</a></li>
  <li><a class="active" href="TeamStatistics">Team Statistics</a></li>
</ul>

<div style="margin-left:220px;padding:1px 16px;height:1000px;">
  <h2>Team Statistics</h2>
  <h3>Search statistics for a team</h3>

  <!-- <form autocomplete="off" action="">
    <div class="autocomplete" style="width:300px;">
      <input id="searchBar" type="text" name="myTeam" placeholder="Team Name">
      <input type="submit">
    </div>

  </form> -->

  <script>console.log({})
  </script>

  <form autocomplete="off" action="" method="POST">
      <div class="autocomplete" style="width:300px;">
        {% csrf_token %}
        {{form.team}}
        <input type="submit">
      </div>

    </form>

  <table style="width:500px">
      <tr>
        <th colspan="5">{{team_name}}</th>
      </tr>
      <tr>
        <th>Home</th>
        <th>Away</th>
        <th>Home Score</th>
        <th>Away Score</th>
        <!-- <th>Date</th> -->
      </tr>
      {% for game_info in latest_team_list %}
      <tr>
        <td>{{game_info.team}}</td>
        <td>{{game_info.opp_team}}</td>
        <td>{{game_info.points}}</td>
        <td>{{game_info.opp_points}}</td>
      </tr>
      {% endfor %}
    </table>

</div>

<script>
  // TODO: SCRIPT TO REWRITE
  //Ross - Okay So I accidently remove all the comments if you want to see them look at master atm, made some progress, looks much diffrent but still not enough.
    function autocomplete(inp, arr) {
      let currentFocus;
      inp.addEventListener("input", function(e) {
          let curpossible, item, val = this.value;
          let x = document.getElementsByClassName("autocomplete-items");
          for (let i = 0; i < x.length; i++) {
            if (x[i] != null && inp != null) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
          if (!val) {
            return false;
          }
          currentFocus = -1;
          curpossible = document.createElement("DIV");
          curpossible.setAttribute("id", (this.id + "autocomplete-list"));
          curpossible.setAttribute("class", "autocomplete-items");
          this.parentNode.appendChild(curpossible);
          for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              item = document.createElement("DIV");
              item.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              item.innerHTML += arr[i].substr(val.length);
              item.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              item.addEventListener("click", function(e) {
                  inp.value = this.getElementsByTagName("input")[0].value;
                  let x = document.getElementsByClassName("autocomplete-items");
                  for (let i = 0; i < x.length; i++) {
                    if (x[i] != null && inp != null) {
                      x[i].parentNode.removeChild(x[i]);
                    }
                  }
              });
              curpossible.appendChild(item);
            }
          }
      });

      inp.addEventListener("keydown", function(e) {
          console.log(e.keyCode)
          let x = document.getElementById(this.id + "autocomplete-list");
          if (x)
            x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            currentFocus++;
            if (!x)
              return false;
            //need to check to make sure not out of bounds
            x[currentFocus-1].classList.remove("autocomplete-active");
            if (currentFocus >= x.length)
              currentFocus = 0;
            if (currentFocus < 0)
              currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
          } else if (e.keyCode == 38) {
            currentFocus--;
            if (!x)
              return false;
            //need to check to make sure not out of bounds
            x[currentFocus+1].classList.remove("autocomplete-active");
            if (currentFocus >= x.length)
              currentFocus = 0;
            if (currentFocus < 0)
              currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
          } else if (e.keyCode == 13) {
            e.preventDefault();
            if (currentFocus > -1) {
              if (x)
                x[currentFocus].click();
            }
          }
      });
      //remove auto list if lose focus
      document.addEventListener("click", function (e) {
        let x = document.getElementsByClassName("autocomplete-items")[0];
          if (x != e.target && inp != e.target) {
            x.parentNode.removeChild(x);
          }
      });
    }

    /*An array containing all the country names in the world:*/
    var teamNames =
    ["Abilene Christian", "Akron", "Alabama", "Alabama A&M", "Alabama State", "Albany", "Alcorn State", "Appalachian St.", "Arizona", "Arizona St.", "Ark.-Pine Bluff", "Arkansas", "Army West Point", "Auburn", "Austin Peay",
    "Ball State", "Baylor", "Belmont", "Bethune-Cookman", "Binghamton", "Boise State", "Boston College", "Boston U.", "Bowling Green", "Bradley", "Brown", "Bryant", "Bucknell", "Buffalo", "Butler", "BYU",
    "Cal Poly", "CSU Fullerton", "California", "Campbell", "Canisius", "Central Ark.", "Central Conn. St.", "Central Mich.", "Charleston So.", "Charlotte", "Chattanooga", "Cleveland State", "Coastal Caro.", "Charleston", "Colgate", "Colorado State", "Columbia", "Coppin State", "Cornell", "Creighton", "CSU Bakersfield", "CSUN",
    "Dartmouth", "Dayton", "Delaware", "Delaware State", "DePaul", "Detroit Mercy", "Drake", "Drexel", "Duke",
    "East Carolina", "Eastern Illinois", "Eastern Ky.", "Eastern Mich.", "Elon", "ETSU", "Evansville",
    "Fairfield", "Fairleigh D'son", "FGCU", "FIU", "Florida Atlantic", "Florida", "Florida A&M", "Florida State", "Fordham", "Fresno State", "Furman",
    "Ga. Southern", "Gardner-Webb", "George Mason", "George Washington", "Georgia", "Georgia State", "Georgia Tech", "Grambling", "Grand Canyon", "Green Bay",
    "Hampton", "Hartford", "Harvard", "Hawaii", "Hofstra", "Holy Cross", "Houston", "Houston Baptist", "Howard",
    "Idaho State", "Illinois", "Illinois State", "Incarnate Word", "Indiana", "Indiana State", "Iona", "Iowa", "Iowa State", "IUPUI",
    "Jackson State", "Jacksonville", "Jacksonville St.", "James Madison",
    "Kansas", "Kennesaw State", "Kent State", "Kentucky",
    "La Salle", "La.-Monroe", "Lafayette", "Lamar University", "Lehigh", "Liberty", "Lipscomb", "LIU Brooklyn", "Long Beach St.", "Longwood", "Louisiana", "Louisiana Tech", "Louisville", "Loyola Chicago", "Loyola Marymount", "LSU",
    "Maine", "Manhattan", "Marist", "Marshall", "Maryland", "Massachusetts", "McNeese", "Memphis", "Mercer", "Miami [Ohio]",  "Michigan", "Mich. St.", "Middle Tenn.", "Minnesota", "Mississippi St.", "Mississippi Val.", "Missouri", "Missouri State", "Monmouth", "Montana", "Morehead State", "Morgan State", "	Mt. St. Mary's", "Murray State",
    "N.C. A&T", "N.C. Central", "NC State", "Nebraska", "Nevada", "New Mexico", "New Mexico St.", "Niagara", "Nicholls State", "Norfolk State", "North Carolina", "North Dakota", "North Dakota St.", "North Florida", "North Texas", "Northern Colo.", "Northern Ill.", "Northern Kentucky", "Northwestern", "Northwestern St.", "Notre Dame",
    "Oakland", "Ohio", "Ohio St.", "Oklahoma", "Oklahoma State", "Ole Miss", "Omaha", "Oregon", "Oregon St.",
    "Pacific", "Penn", "Penn St.", "Pittsburgh", "Portland St.", "Prairie View", "Presbyterian", "Princeton", "Providence", "Purdue", "Purdue Fort Wayne",
    "Quinnipiac",
    "Radford", "Rhode Island", "Rider", "Robert Morris", "Rutgers",
    "Sacramento St.", "Sacred Heart", "Saint Francis [Pa.]", "Saint Joseph's", "Saint Louis", "Saint Mary's [CA]", "Saint Peter's", "Sam Houston St.", "Samford", "San Diego", "San Diego State", "San Jose State", "Santa Carla", "Savannah State", "Seattle U", "Seton Hall", "SFA", "Siena", "SIUE", "South Alabama", "South Carolina", "South Carolina St.", "South Dakota", "South Dakota St.", "South Florida", "Southeast Mo. St.", "Southeastern La.", "Southern Ill.", "Southern Miss.", "Southern Univ.", "Southern Utah", "St. Bonaventure", "St. John's", "Stanford", "Stetson", "Stony Brook", "Syracuse",
    "Tennessee", "Tennessee State", "Tennessee Tech", "Texas", "Texas A&M", "Texas-Am-Corpus", "Texas Southern", "Texas State", "Texas Tech", "Toledo", "Towson", "Troy", "Tulsa",
    "UAB", "UC Davis", "UC Riverside", "UC Santa Barbara", "UCF", "UCLA", "UConn", "UIC", "UMass Lowell", "UMBC", "UMES", "UMKC", "UNC Greensboro", "UNCW", "UNI", "UNLV", "USC Upstate", "UT Arlington", "UT Martin", "Utah", "Utah State", "Utah Valley", "UTEP", "UTSA",
    "Valparaiso", "Villanova", "Virginia", "Virginia Tech",
    "Wagner", "Washington", "Weber State", "Western Caro.", "Western Ill.", "Western Ky.", "Western Mich.", "Wichita State", "Winthrop", "Wisconsin", "Wright State",
    "Yale", "Youngstown St."];

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("searchBar"), teamNames);
    </script>

</body>
</html>
