<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #6C0017;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #FFFFFF;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #f1f1f1;
  color: black;
}

/* li a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

</style>
</head>
<body>

<ul>
  <div align="center">
      <!-- <img src="img/logo-on-red.png" width="195" height="193" alt="UofA Logo"> -->
  </div>
  
  <li><a href="CurrentRanking">Current Ranking</a></li>
  <li><a class="active" href="TeamStatistics">Team Statistics</a></li>
</ul>

<div style="margin-left:220px;padding:1px 16px;height:1000px;">
  <h2>Fixed Full-height Side Nav</h2>
  <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
  <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>

  <!-- <img src="images/pengiun-clipart-1.jpg" width="195" height="193"> -->
</div>


</body>
</html>
